@charset "UTF-8";
.container-fluid {
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 10%;
    border: none;
    box-shadow: none;
    background-color: #ee5253;
}

h2 {
    text-align: center;
}

.grey-background {
    background-color: rgba(78, 84, 90, 0.05);
}


/*

BUTTON PASTEL-RED

*/

.btn-pastel-red {
    color: #fff;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-pastel-red:hover {
    color: #fff;
    background-color: #ee5253;
    border-color: #ee5253;
}

.btn-pastel-red.focus,
.btn-pastel-red:focus {
    color: #fff;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
    box-shadow: 0 0 0 .2rem rgba(255, 107, 107, .5)
}

.btn-pastel-red.disabled,
.btn-pastel-red:disabled {
    color: #fff;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-pastel-red:not(:disabled):not(.disabled).active,
.btn-pastel-red:not(:disabled):not(.disabled):active,
.show>.btn-pastel-red.dropdown-toggle {
    color: #fff;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-pastel-red:not(:disabled):not(.disabled).active:focus,
.btn-pastel-red:not(:disabled):not(.disabled):active:focus,
.show>.btn-pastel-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 107, 107, .5)
}


/*

HEADER

*/

.header {
    background-color: rgba(13, 18, 24, 0.7);
    height: 70px;
    line-height: 40px;
    padding-bottom: 80px;
    position: fixed;
    z-index: 2;
}

.header-logo img {
    height: 65px;
}

.dropdown-menu-bg {
    background-color: rgba(34, 47, 62, 0.85);
    padding-left: 15px;
}

.dropdown-menu-bg a {
    color: white;
}

.dropdown-menu-bg a:hover {
    background-color: rgba(34, 47, 62, 0);
    color: white;
    padding-left: 15px;
}


/*

BANNER

*/

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    background-image: url("../image/wallpaper.jpg");
    width: 100%;
    max-width: 100%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.ban img {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.inner-banner {
    top: 15%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #ffffff;
    text-shadow: 1px 1px 30px #000000;
    font-size: 5vw;
    letter-spacing: 5px;
}

.inner-banner p {
    color: #ee5253;
    text-shadow: 10px 10px 30px #000000;
    font-size: 2vw;
}


/*

NAVIGATION

*/

.navigation {
    margin-top: 10px;
    padding-bottom: 20px;
}


/*

HOURS

*/

#hours {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#hours p {
    text-align: justify;
    margin-top: 15px;
}


/*

TDC

*/

#tdc {
    margin-top: 20px;
    padding-bottom: 20px;
}

#tdc h3 {
    margin-top: 25px;
}

#tdc p {
    text-align: justify;
    margin-top: 15px;
}


/*

MOODLE

*/

#moodle {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#moodle h3 {
    margin-top: 25px;
}

#moodle p {
    text-align: justify;
    margin-top: 15px;
}


/*

CLOUD

*/

#cloud {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#cloud h3 {
    margin-top: 25px;
}

#cloud p {
    text-align: justify;
    margin-top: 15px;
}

#cloud img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*

PHYSICAL_SUPPORT

*/

#physical_support {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#physical_support h3 {
    margin-top: 25px;
}

#physical_support p {
    text-align: justify;
    margin-top: 15px;
}


/*

NETWORK DRIVE

*/

#network_drive {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#network_drive h3 {
    margin-top: 25px;
}

#network_drive p {
    text-align: justify;
    margin-top: 15px;
}

#network_drive img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*

ABOUT

*/

.about {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about h3 {
    margin-top: 25px;
}

.about p {
    text-align: justify;
    margin-top: 15px;
}


/*

SESSION

*/

#session {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#session h3 {
    margin-top: 25px;
}

#session p {
    text-align: justify;
    margin-top: 15px;
}


/*

PASSWORD

*/

#password {
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#password h3 {
    margin-top: 25px;
}

#password p {
    text-align: justify;
    margin-top: 15px;
}


/*

MAP

*/

.map {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.map .card {
    margin-top: 15px;
    height: 300px;
}

.map img {
    width: 90%;
    max-height: 295px;
}


/*

FOOTER

*/

.footer {
    background-color: #ee5253;
    width: 100%;
    position: static;
    bottom: 0;
    margin-top: 100px;
}

.footer-logo {
    width: 100%;
    text-align: center;
    line-height: 80px;
}

.footer-logo img {
    width: 100%;
    padding: 10px;
}

.footer-info ul {
    list-style-type: none;
}


/*

LG MEDIA

*/

@media (max-width: 991.98px) {
    .collapse-lg {
        background-color: rgba(34, 47, 62, 0.85);
        padding-left: 15px;
    }
}